:root{
    --red: #f50404;
    --black: #141414;
}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

/*Basic elements*/
body{
    background-color: var(--black);
    font-family: "Times New Roman", Times, serif;
    color: white;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--red);
    font-family: "Arial Black", Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Principal movie*/

.principal-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),
         url('/images/puss-in-boots-2-finally-revealed-after-10-years_w785.jpg');
    height: 400px;
    background-size: cover;
}